/*

Description:    CSS for Tweeter App V1.0
Date Created:   19/02/16
Date Updated:   19/02/21

00. Mixins
01. Variables
    ├── Brand Primary Colour
    ├── Brand Secondary Colours
    ├── Brand UI Colours
    └── Brand Fonts
02. Reset
		└── HTML5 Boilerplate v4.3.0
03. Layout
    └── Media Queries
04. Typography
    ├── Legal
    └── Media Queries
05. Header
		├── Bird
		├── Logo
		├── Menu
			└── Button
    └── Media Queries
06. Footer
    ├── Copyright
    └── Media Queries
07. New Tweet
		├── Form
			├── Text Area Feedback
			└── Error Messages
		└── Counter
08. Tweet
		├── Top Left - Tweet Avatar, Heading
		├── Top Right - Tweet Name, Handle
		├── Middle - Tweet Status
		├── Bottom Left - Tweet Details
		├── Bottom Right - Twitter Links
		├── Icons
			└── Load Characters
		└── Media Queries
	09. Button
	10. User Messages
		├── Icons
		└── Colours
	11. Helper Classes

*/
/* ==========================================================================
00. Mixins
========================================================================== */
/*

Description:    Mixins for Tweeter App 
Date Created:   19/02/16
Date Updated:   19/02/16

*/
.transition {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* ==========================================================================
01. Variables \ Brand Primary Colour
========================================================================== */
/* ==========================================================================
01. Variables \ Brand Secondary Colour (1)
========================================================================== */
/* ==========================================================================
01. Variables \ Brand Secondary Colour (2)
========================================================================== */
/* ==========================================================================
01. Variables \ Brand Secondary Colour 3
========================================================================== */
/* ==========================================================================
01. Variables \ Brand Secondary Colour 4
========================================================================== */
/* ==========================================================================
01. Variables \ Brand UI Colours
========================================================================== */
/* ==========================================================================
01. Variables \ Brand Fonts
========================================================================== */
/* ============================================================================= 
02. HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/
================================================================================ */
html,
button,
input,
select,
textarea {
  color: #263238;
}
html {
  font-size: 100%;
  line-height: 1.4em;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid white;
  margin: 40px 0 20px;
  padding: 0;
}
audio,
canvas,
img,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
body.primary {
  margin: 0 !important;
}
/* ============================================================================= 
03. Layout
================================================================================ */
.primary__header {
  grid-area: header;
}
.primary__footer {
  grid-area: footer;
}
.primary__main {
  grid-area: main;
}
.primary {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 100%;
  grid-template-rows: 60px 
  1fr
  60px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: url("/images/duotone.png") no-repeat center center fixed;
}
.primary__main {
  margin: 60px 40px;
}
/* ============================================================================= 
03. Layout \ Media Queries
================================================================================ */
@media only screen and (min-width: 800px) and (max-width: 1279px) {
  .primary__main {
    margin: 40px;
  }
}
@media only screen and (max-width: 799px) {
  .primary__main {
    margin: 40px 20px;
  }
}
@media only screen and (max-width: 379px) {
  .primary__main {
    margin: 20px 20px 40px;
  }
}
/* ============================================================================= 
04. Typography
================================================================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.0125em;
}
h1,
h2,
h3 {
  font-weight: 500;
  text-transform: uppercase;
}
h1 {
  display: block;
  margin: 20px 0;
  font-size: 36px;
  line-height: 1.136em;
}
h2 {
  margin: 40px 0 20px;
  font-size: 32px;
  line-height: 1.136em;
}
h3 {
  margin: 40px 0 20px;
  font-size: 24px;
  line-height: 1.136em;
}
p {
  margin: 0 0 20px;
  font-size: 24px;
  line-height: 1.5em;
}
strong {
  font-weight: 400;
}
em {
  font-style: normal;
  font-weight: 400;
}
ul {
  list-style-type: none;
}
a {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
a:link,
a:visited {
  color: #263238;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #A3ACB0;
  text-decoration: none;
}
/* ============================================================================= 
04. Typography \ Media Queries
================================================================================ */
@media only screen and (min-width: 800px) and (max-width: 1279px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  p,
  ul,
  ol {
    font-size: 18px;
  }
}
@media only screen and (min-width: 380px) and (max-width: 799px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  p,
  ul,
  ol {
    font-size: 18px;
  }
}
@media only screen and (max-width: 379px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 18px;
  }
  p,
  ul,
  ol {
    font-size: 16px;
  }
}
/* ============================================================================= 
05. Header
================================================================================ */
.primary__header {
  position: fixed;
  z-index: 9;
  top: 0;
  width: calc(100% - 20px);
  padding: 0 10px;
  background-color: white;
  -webkit-box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.15);
}
.primary__header .header-form {
  display: inline-block;
  width: 50%;
}
.primary__header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: white;
}
.primary__header li {
  float: left;
}
.primary__header li a {
  display: block;
  padding: 20px;
  border-right: 1px solid #f4f4f4;
  border-bottom: none;
  color: #263238;
  font: 500 14px/20px "Oswald", Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.primary__header li a:hover,
.primary__header .menu-btn:hover,
.primary__header li a:focus,
.primary__header .menu-btn:hover {
  color: #FB6428;
}
/* ============================================================================= 
05. Header \ Bird
================================================================================ */
.primary__header .bird {
  float: left;
  display: block;
  margin: 5px 0 0 5px;
  padding: 5px;
  width: 40px;
  height: 40px;
  border-bottom: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.primary__header .bird:hover {
  width: 50px;
  height: 50px;
  padding: 0;
}
/* ============================================================================= 
05. Header \ Logo
================================================================================ */
.primary__header .logo {
  display: block;
  float: left;
  padding: 20px 0;
  border-bottom: none;
  font: 500 14px/20px "Oswald", Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.primary__header .logo:link,
.primary__header .logo:visited {
  color: #263238;
  text-decoration: none;
}
.primary__header .logo:hover,
.primary__header .logo:focus {
  color: #FB6428;
}
/* ============================================================================= 
05. Header \ Menu
================================================================================ */
.primary__header .menu {
  position: relative;
  right: -10px;
  float: right;
  clear: none;
  max-height: none;
}
/* ============================================================================= 
05. Header \ Menu \ Button
================================================================================ */
.primary__header .menu-btn {
  display: none;
}
.primary__header .menu-btn:checked ~ .menu {
  max-height: 260px;
}
.primary__header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.primary__header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.primary__header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
.primary__header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.primary__header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
/* ============================================================================= 
05. Header \ Media Queries
================================================================================ */
@media only screen and (max-width: 419px) {
  .primary__header li a {
    padding: 20px 10px;
  }
}
/* ============================================================================= 
06. Footer
================================================================================ */
.primary__footer {
  background-color: white;
  -webkit-box-shadow: 1px -2px 4px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 1px -2px 4px 0 rgba(0, 0, 0, 0.15);
  color: #263238;
}
.copyright {
  display: inline-block;
  margin: 0;
  padding: 20px;
  font: 500 14px/20px "Oswald", Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}
.copyright a:link {
  color: #263238;
  text-decoration: none;
  border-bottom: none;
}
.copyright a:visited {
  color: #263238;
  text-decoration: none;
}
.copyright a:hover,
.copyright a:focus {
  color: #FB6428;
  text-decoration: none;
}
/* ============================================================================= 
06. Footer \ Media Queries
================================================================================ */
@media only screen and (max-width: 599px) {
  .copyright {
    width: calc(100% - 20px);
    padding: 20px 10px 0;
    text-align: center;
  }
}
@media only screen and (max-width: 379px) {
  .copyright {
    font-size: 12px;
  }
}
/* ============================================================================= 
07. New Tweet
================================================================================ */
.new_tweet {
  display: none;
  margin: 0 auto 40px;
  padding: 20px;
  width: calc(100% - 40px);
  min-height: fit-content;
  max-width: 500px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.new_tweet:hover,
.new_tweet:focus {
  max-width: 520px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.9);
}
.new_tweet h2 {
  display: block;
  margin: 0 0 20px;
  padding: 0 0 20px;
  border-bottom: 1px solid #A3ACB0;
  color: #263238;
  text-transform: uppercase;
}
/* ============================================================================= 
07. New Tweet \ Form
================================================================================ */
.new_tweet textarea {
  width: calc(100% - 20px);
  margin: 0 0 10px;
  padding: 10px;
  background: #D4D7D9;
  border: none;
  color: #263238;
  font: normal 300 20px/1.4em "Oswald", Arial, sans-serif;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.new_tweet textarea:focus {
  background: white;
}
.new_tweet input[type=submit] {
  display: inline-block;
  cursor: pointer;
}
/* ============================================================================= 
07. New Tweet \ Form \ Text Area Feedback
================================================================================ */
#text_area_feedback {
  color: #263238;
  font: normal 400 16px/40px "Oswald", Arial, sans-serif;
  text-transform: uppercase;
  text-align: right;
}
#text_area_feedback.user_msg_limit {
  color: red;
}
.btn.btn__tweet {
  width: 120px;
  padding: 5px;
}
/* ============================================================================= 
07. New Tweet \ Form \ Error Messages
================================================================================ */
#form-messages.error,
#form-messages.success {
  font: normal 400 16px/40px "Oswald", Arial, sans-serif;
  text-align: center;
  color: #263238;
}
/* ============================================================================= 
07. New Tweet \ Counter
================================================================================ */
.new_tweet .counter {
  float: right;
  display: inline-block;
  margin: 10px 0 0;
  padding: 8px 0;
  color: #263238;
  font: 300 18px/1.4em "Oswald", Arial, sans-serif;
  letter-spacing: -0.0125em;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.new_tweet .counter span {
  text-align: right;
}
.user_msg_limit {
  color: #D8000C;
}
/* ============================================================================= 
08. Tweet
================================================================================ */
.tweet {
  display: block;
  margin: 0 auto 40px;
  padding: 0;
  width: 100%;
  max-width: 540px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  /* --------- 08. Tweet \ Top Left - Tweet Avatar, Heading --------- */
  /* --------- 08. Tweet \ Top Right - Tweet Name, Handle --------- */
  /* --------- 08. Tweet \ Middle - Tweet Status --------- */
  /* --------- 08. Tweet \ Bottom Left - Tweet Details --------- */
  /* --------- 08. Tweet \ Bottom Right - Twitter Links --------- */
}
.tweet:hover,
.tweet:focus {
  max-width: 560px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.9);
}
.tweet:hover .twitter_links,
.tweet:focus .twitter_links {
  opacity: 1.0;
}
.tweet header,
.tweet footer {
  width: calc(100% - 40px);
  padding: 0 20px;
  background: #D4D7D9;
}
.tweet header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.tweet footer {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin: 0;
}
.tweet footer .time,
.tweet footer .date {
  color: #263238;
}
.tweet .user.left {
  display: block;
  float: left;
  clear: both;
  width: 75%;
}
.tweet .user_image {
  display: block;
  float: left;
  clear: both;
  width: 70px;
}
.tweet .user_image img {
  display: inline-block;
  margin: 20px 0;
  height: 55px;
  width: 55px;
  border-radius: 50%;
}
.tweet .heading {
  display: inline-block;
  width: 75%;
  padding: 40px 0 0;
}
.tweet .heading h3 {
  margin: 0 0 20px;
  padding: 0 0 10px;
  color: #263238;
  text-transform: uppercase;
}
.tweet .user.right {
  display: inline-block;
  width: 25%;
  margin: 24px 0 0;
  padding: 20px 0;
}
.tweet .user.right .username {
  color: #5A6D76;
  font: normal 300 18px/1.4em "Oswald", Arial, sans-serif;
}
.tweet .username {
  color: #263238;
}
.tweet .status {
  margin: 20px;
  color: #263238;
  overflow-wrap: break-word;
  font: 300 20px/1.4em "Oswald", Arial, sans-serif;
}
.tweet .details.left {
  display: block;
  float: left;
  clear: both;
  width: 50%;
}
.tweet .details.left span {
  display: block;
  margin: 18px 0;
  color: #263238;
  font: 500 18px/1.4em "Oswald", Arial, sans-serif;
  text-transform: uppercase;
}
.tweet .details.left:after {
  content: "";
  display: table;
  clear: both;
}
.tweet .details.right {
  display: inline-block;
  width: 50%;
}
.tweet .twitter_links {
  margin: 18px 0;
  padding: 0;
  width: 100%;
  display: block;
  text-align: right;
  opacity: 0.0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.tweet .twitter_links.show {
  opacity: 1.0;
}
.tweet .twitter_links:hover,
.tweet .twitter_links:focus {
  opacity: 1.0;
}
.tweet .twitter_links li {
  margin: 0 15px 0 0;
  padding: 0;
  display: inline-block;
  list-style: none;
}
.tweet .twitter_links a:link {
  color: #1693A5;
  border-bottom: none;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.tweet .twitter_links a:hover,
.tweet .twitter_links a:visited:hover,
.tweet .twitter_links a:focus,
.tweet .twitter_links a:visited:focus {
  background: none;
  text-decoration: none;
  color: #FB6428;
}
.tweet .twitter_links a:visited {
  color: #1693A5;
}
.tweet .twitter_links li span {
  display: none;
}
.tweet .twitter_links li:last-child {
  margin: 0;
}
/* ============================================================================= 
08. Tweet \ Icons
================================================================================ */
.retweet-icon:before,
.like-icon:before,
.flag-icon:before,
.compose-icon:before {
  content: "\f0c3";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 1.50rem;
  position: relative;
  top: 0;
  left: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
/* ============================================================================= 
08.	Tweet \ Icons \ Load Characters
================================================================================ */
.retweet-icon:before {
  content: "\f079";
}
.like-icon:before {
  content: "\f004";
}
.flag-icon:before {
  content: "\f024";
}
.compose-icon:before {
  content: "\f14b";
  font-size: 1.25rem;
  left: -5px;
  top: 0px;
}
/* ============================================================================= 
08.	Tweet \ Media Queries
================================================================================ */
@media only screen and (max-width: 799px) {
  .tweet .heading {
    width: calc(100% - 70px);
  }
  .tweet .user.right .username {
    font: normal 300 14px/1.4em "Oswald", Arial, sans-serif;
  }
  .tweet .status {
    font: 300 18px/1.4em "Oswald", Arial, sans-serif;
  }
}
@media only screen and (max-width: 379px) {
  .tweet .details.left span {
    font: 500 14px/1.4em "Oswald", Arial, sans-serif;
  }
  .tweet .user.right {
    margin: 22px 0 0;
  }
}
/* ============================================================================= 
09. Button
================================================================================ */
.btn {
  display: inline-block;
  margin: 5px 0;
  padding: 10px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0px;
  background: #D4D7D9;
  color: #263238;
  font: 500 20px/1.4em "Oswald", Arial, sans-serif;
  letter-spacing: -0.0125em;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 2px 2px rgba(0, 0, 0, 0.3), 0 0 4px 1px rgba(0, 0, 0, 0.2);
}
.btn:hover,
.btn:focus {
  color: #212224;
  background: #A3ACB0;
  text-decoration: none;
}
/* ============================================================================= 
10. User Messages
================================================================================ */
.info-msg,
.success-msg,
.warning-msg,
.error-msg {
  margin: 10px 0;
  padding: 10px 15px;
  border-radius: 3px 3px 3px 3px;
  font: normal 400 18px/1.4em "Oswald", Arial, sans-serif;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* ============================================================================= 
10. User Messages \ Icons
================================================================================ */
.info-msg:before,
.success-msg:before,
.warning-msg:before,
.error-msg:before {
  content: "\f0c3";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 1.25rem;
  position: relative;
  top: 0;
  left: -5px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.info-msg:before {
  content: "\f05a";
}
.success-msg:before {
  content: "\f00c";
}
.warning-msg:before {
  content: "\f071";
}
.error-msg:before {
  content: "\f057";
}
/* ============================================================================= 
10. User Messages \ Colours
================================================================================ */
.info-msg {
  color: #059;
  background-color: #BEF;
}
.success-msg {
  color: #270;
  background-color: #DFF2BF;
}
.warning-msg {
  color: #9F6000;
  background-color: #FEEFB3;
}
.error-msg {
  color: #D8000C;
  background-color: #FFBABA;
}
/* ============================================================================= 
11. Helper Classes
================================================================================ */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix {
  zoom: 1;
}
/* IE6 */
*:first-child + html .clearfix {
  zoom: 1;
}
/* IE7 */
